%h1
  = @exercise.name

.exercise-instruction
  %p
    = @exercise.instruction

#guest-solution
  = form_for @form_path do |f|
    = f.label :solution_code
    = f.text_area :solution_code
    = f.submit :execute, onclick: "addCodeToTextArea()"

- if @solution_results
  .results
    #expected
      %h4
        Expected Results:
      -# %textarea{class: :readOnlyCode}
      - @exercise.result_as_table

    #actual
      %h4
        Your Query Returned:
      -# %textarea{class: :readOnlyCode}
      - @solution.result_as_table

    %button{onclick: "toggleResult()", id: "result-toggle-button"}


- if @correct_query == true
  %p Success!

- if @solution_errors
  - @solution_errors.each do |error|
    %p
      = error

%p
  Answers and Discussion
  %button{onclick: "toggleSolution()", id: "toggle-button"}
    show

#answers-and-discussion
  %p
    = @exercise.solution
