%h1
  = @exercise.name

.exercise-instruction
  %p
    = @exercise.instruction

#guest-solution
  = form_for @form_path do |f|
    = f.label :solution_code
    = f.text_area :solution_code
    = f.submit :execute, onclick: "addCodeToTextArea()"

- if @expected_results
  
  %h4
    Expected Results:
  %textarea{class: :readOnlyCode}
    = @expected_results

  %h4
    Your Query Returned:
  %textarea{class: :readOnlyCode}
    = @actual_results

- if @correct_query == true
  %p Success!

- if @solution_errors
  - @solution_errors.each do |error|
    %p
      = error

%p
  Answers and Discussion
  %button{onclick: "toggleSolution()", id: "toggle-button"}
    show

#answers-and-discussion
  %p
    = @exercise.solution
