#top-exercise-nav
  = render partial: 'exercises/exercise_nav', locals: {exercise: @exercise}

= image_tag(asset_path('school_tables.jpg'), id: 'db-tables')

%h1
  = @exercise.index.to_s + '. ' + @exercise.name

.exercise-instruction
  %p
    = @exercise.instruction

#guest-solution
  %p Your Solution:
  = form_for @form_path do |f|
    = f.text_area :solution_code
    = f.submit :execute, onclick: "addCodeToTextArea()"

- if @solution_results
  .results
    #expected
      %h4
        Expected Results:
      - @exercise.print_result

    #actual
      %h4
        Your Query Returned:
      -# %textarea{class: :readOnlyCode}
      - @solution.print_result

    %button{onclick: "toggleResult()", id: "result-toggle-button"}


- if @correct_query == true
  %p Success!

- if @solution_errors
  - @solution_errors.each do |error|
    %p
      = error

- if @exercise.blocked_text(current_user)
  %p #{@exercise.blocked_text(current_user)}

- unless @show_answer
  %p
    = button_to('', surrender_path(@exercise), {id: 'surrender-button', data: {confirm: "Choosing to look at our answer means you won't be able to get credit for completing this exercise for another 24 hours. Are you sure you want to peek?"}})

- if @show_answer
  #answers-and-discussion
    %p Our Solution:
    %textarea{class: :readOnlyCode, id: :answerCode}
      = @exercise.solution_pretty
    %p Notes:
    #notes
      = @exercise.notes
    %br

= render partial: 'exercises/exercise_nav', locals: {exercise: @exercise}
